* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu-card {
    border: 1px solid rgb(183, 45, 45);
    width: 400px;
    height: 300px;
    margin: 0 auto;
    box-shadow: rgb(19, 233, 26);
    background-color: aqua;
    background-image: url(https://images2.minutemediacdn.com/image/upload/c_fill,w_1440,ar_16:9,f_auto,q_auto,g_auto/shape/cover/sport/643188-gettyimages-153946385-ca1ccfaad9be44325afc434b305adc0d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    position: relative;

}

.menu-card::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.444);

}

.menu-card:hover::after {
    opacity: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, 50%);
    background: linear-gradient(to right, rgb(239, 235, 14), rgb(221, 201, 201), green);
    border: 1px 10px;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;


}

.menu-card:hover .content {
    left: 50%;
    opacity: 1;

}

.content button {
    margin: 0 auto;
    display: inline-block;
    padding: 5px 15px;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card:hover::after {
    opacity: 1;
}